@model finalOnePal.Models.Result

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Result</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fixture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fixture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.homeTeam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.homeTeam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.awayTeam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.awayTeam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.homeGoals)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.homeGoals)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.awayaGoals)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.awayaGoals)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
